/* button{
    padding: 15px 40px;
    border-radius: 8px;
    color: white;
    background-color: blue;
    border: none;
    margin: 20px;
}

.counter p{
    color:blue;
    font-size: 20px;
    font-weight: 900;
    margin-left: 70px;
    
}
*/

/* данные в окошке */

.click {
    padding: 15px 40px;
    border-radius: 8px;
    color: white;
    background-color: #5050cf;
    border: none;
    margin: 20px;
}

.container{
    width: 450px;
    border: none;
    border-radius: 5px;
    background-color: white;
    margin: 20px;
    padding: 30px;
}

.container h5{
    font-size: 20px;
    font-weight: 900;
    padding-left: 20px;
}

.container h6{
    color:darkgray;
    padding-left: 20px;
}

.container p{
    padding-left: 20px;
}
.button{
    display: flex;
    justify-content: space-between;
    height: 45px;
    align-items: center;
    margin-top: 10px;
}

button{
    padding: 5px 25px;
    border-radius: 15px;
    color: white;
    background-color: #1d1d22;
    border: none;
    margin: 20px;
    font-size: 12px;
}